table, th, td{
    border:1px solid black;
    border-collapse:collapse;
    padding: 20px;
    text-align: center;
    font-size: 20px;
    border-radius: 20px;
    margin-left: 200px;
    margin-right: 100px;
    margin-top: 50px;
}
table{
    width: 60%;
}
th{
    background-color: brown;
}
tr:nth-child(even)
{
    background-color: chocolate;
}
tr:nth-child(odd)
{
    background-color: darkcyan;
}
td:hover{
    background-color: darkgreen;
}
